
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<br />
<p>
    This is a project created by Mordecai Fietkau to help students specifically pursuing CTE pathways know what courses are available and which courses are advised for high school students
</p>
