@{
    ViewData["Title"] = "PathwayChoice";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PathwayChoice</h1>
    <p>
        Feel free to explore around and find what you need!
    </p>
</div>
